<div class="panel">
  <div class="counter">
    <div class="buffer">
      <p-inputNumber [(ngModel)]="valueCounter" [showButtons]="true"
                     [disabled]="!settingsCounter.settings.disableSettings"
                     [min]="settingsCounter.settings.minValue" [max]="settingsCounter.settings.maxValue"></p-inputNumber>

      <p-button label="reset"  icon="pi pi-times" (click)="valueCounter = 0"
              [disabled]="!settingsCounter.settings.disableSettings" ></p-button>
    </div>

    <div class="actions">
      <p-button  icon="pi pi-plus" [disabled]="disableIncrement"
              (click)="valueCounter=valueCounter+1" ></p-button>

      <p-button  icon="pi pi-minus"[disabled]="disableDecrement"
              (click)="valueCounter=valueCounter-1"></p-button>
    </div>
  </div>
</div>
