<div class="panel">
    <div class="values">
      <p-inputNumber [size]="10" [(ngModel)]="minValue" [disabled]="disableSetting" [min]="settingsService.minValue"
                     [max]="settingsService.maxValue-1&&maxValue-1" [showButtons]="true"></p-inputNumber>
      Min

      <p-inputNumber [size]="10" [(ngModel)]="maxValue" [disabled]="disableSetting" [min]="(settingsService.minValue + 1) && (minValue + 1)"
                     [max]="settingsService.maxValue" [showButtons]="true" > </p-inputNumber>

      Max

    </div>
  <div class="saving">
    <p-button label="save" [disabled]="disableSetting"  icon="pi pi-save"  (click)="save()"></p-button>
  </div>


</div>
